<head>
    {% include 'css.html' %}
</head>

<body style="background-color:  #202761;">
    {% if error %}
    <div class="error-message">{{ error }}</div>
    {% endif %}
    {% include 'back.html' %}
    <br><br><br><br>
    <form action="/manual_mail_verification" method="post">
        <div class="login-box">
            <div class="user-box">
                <input autocomplete="off" autofocus name="mail" type="text" required="">
                <label>E-Mail</label>
            </div>
            <button class="btn-blue" type="submit">
                <i class="fas fa-check"></i>
            </button>
        </div>
    </form>
</body>

</html>